################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/0 - Starting Project/source/obj/x64/Debug
/0 - Starting Project/source/.vs/D3D12HelloTriangle
/.vs/DirectX-RTX-Tutorials/v17
/.vs/DirectX-RTX-Tutorials/FileContentIndex
/.vs
/0 - Starting Project/source/bin/x64/Debug
/1 - Enabling Raytracing Capabilities/source/obj/x64/Debug
/1 - Enabling Raytracing Capabilities/source/bin/x64/Debug
/1 - Enabling Raytracing Capabilities/source/.vs/D3D12HelloTriangle
/2 - Rendering a RTX Triangle/source/obj/x64/Debug
/2 - Rendering a RTX Triangle/source/bin/x64/Debug
/2 - Rendering a RTX Triangle/source/.vs/D3D12HelloTriangle
/3 - RTX Using the Vertex Buffer/source/obj/x64/Debug
/3 - RTX Using the Vertex Buffer/source/bin/x64/Debug
/3 - RTX Using the Vertex Buffer/source/.vs/D3D12HelloTriangle
/4 - RTX with Perspective Camera/source/obj/x64/Debug
/4 - RTX with Perspective Camera/source/bin/x64/Debug
/4 - RTX with Perspective Camera/source/.vs/D3D12HelloTriangle
/5 - RTX Per Instance Data/source/.vs/D3D12HelloTriangle
